.mask-1,
.mask-2 {
  mask:
    url(../../assets/svg-shapes/rectangle.svg) no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask:
    url(../../assets/svg-shapes/rectangle.svg) no-repeat,
    linear-gradient(#000 0 0);
  mask-size: 11rem;
  mask-composite: exclude;
}

.mask-1 {
  mask-position: 135% 40%;
}

.mask-2 {
  mask-position: 135% 55%;
}
